.place__text {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    grid-area: text;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}
